*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#support-section{
    background: #84c0fc; 
}

#support-section .support-team  .support-text h6, h3, h4, p, #contact-press-section .contact-press h5, h2{
    color: #1d2a3b;
}

#support-section .support-team .chat-button button{
    background: #1d2a3b;
    width: 120px;
}

#contact-press-section{
    background-color: #f0faff;
}

#contact-press-section .contact-press p{
    color: #495c77;
}

#social-media-section  .social-media .media-image{
    width: 60%;
}
#social-media-section  .social-media .media-image img{
    width: 70%;
    border-top: 10px solid lightblue;
    border-left: 10px solid lightblue;
}

#social-media-section  .social-media .media-connect h2{
font-size: 56px;
}

#contact-footer{
    background-color: #4a83d8;
}

#contact-footer .product-service h6{
    color: #fff;
}

#contact-footer .contacts .contact-details ul li, h5{
    list-style: none;
    color: #fff;
}


@media(max-width: 426px){
    .contacts .contact-details{
        flex-direction: column;
    }
}